<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/heroes">Heroes</a>
    <a href="/items">Items</a>
    <a href="/rules">Rules</a>
    <a href="/world">World</a>
    <a href="https://discord.gg/XwUPJVnX">Discord</a>
  </nav>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>
</html>
